<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assentos</title>
    </head>
    <body>
        <h1>Assentos</h1>
        {% for lugar in lugares %}
            <div>
                <text>{{lugar.assento}}</text>
                <text>{{lugar.status}}</text>
                <text>{{lugar.nome}}</text>
                <br/>
            </div>
        {% endfor %}
    </body>
</html>